*.dcu
__history
*.drc
*.identcache
*.local
*.lps
*.todo
*.tvsconfig
*.bak
*.log
**/*[Bb]ackup/

Lib/**/*
Bin/**/*

*.dci
*.dcp
*.dsk
*.dof

*~
*.~*
*.zip
*.exe
*.dll
*.dres
*.rc
*.res
*.ico
!Resources/**/*ico
!Source/Plugin/NPPFSIPlugin.rc